<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} | Michael Manhire {% else %}Michael Manhire | Front End Web Developer{% endif %}</title>
	<meta name="author" content="Michael Manhire">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Michael Manhire is a front-end web developer based in San Diego, California. Learn more about his background and expertise in creating websites.{% endif %}">

	<link rel="stylesheet" href="{{ site.url }}/css/main.css">
</head>
